* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 390px) {
  .card-container {
    padding-left: 0px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1360px) {
  .card-container {
    padding-left: 150px;
    padding-top: 100px;
  }
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  background-color: white;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #1f2937;
  margin-bottom: 30px;
  font-weight: bold;
}
.create input,
.create input,
.create input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  background-color: white;
  border-radius: 8px;
}
.create button {
  background-color: #1f2937;
  color: white;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  padding-top: 10px;
}
.create button:hover {
  color: white;
  background-color: #28303a;
}
